body {
  background: url("http://www.alienresearchcorp.com/space/hd-wallpapers/amazing/img/l/evil-nebula.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.person {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px #999;
  padding: 2.5%;
  width: 50%;
  margin: auto; }

form {
  padding-top: 3%; }
  form input {
    padding-left: 1%;
    border-radius: 10px; }
  form button {
    border-radius: 8px; }

.msg2 {
  width: 50%;
  margin: auto;
  padding: 2.5%;
  background-color: black; }

.msg1 {
  width: 50%;
  margin: 1% auto;
  padding: 2.5%; }

input {
  margin: .3%; }

#top {
  border-bottom: 5px solid black; }

footer {
  width: 50%;
  margin: auto;
  font-size: medium;
  padding: 2.5%;
  background-color: rgba(215, 24, 24, 0.9); }

@media only screen and (max-width: 480px) {
  body {
    width: 95%;
    margin: auto; }
  .msg2 {
    width: 95%;
    margin: auto;
    font-size: medium;
    padding: 2.5%;
    background-color: black;
    color: white; }
  .msg1 {
    width: 95%;
    margin: 1% auto;
    font-size: large;
    padding: 2.5%; }
  .person {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px #999;
    padding: 2.5%;
    width: 95%;
    margin: auto; }
    .person p {
      font-size: medium; }
  footer {
    width: 95%;
    margin: auto;
    font-size: small;
    padding: 2.5%; } }

body {
  font-family: helvetica;
  text-align: center; }

.person p {
  font-size: x-large;
  display: block; }

.msg2 {
  font-size: x-large;
  color: white; }

.msg1 {
  font-size: xx-large;
  color: white;
  text-shadow: 2px 2px black; }

form {
  font-size: xx-large;
  color: white;
  text-shadow: 2px 2px black; }

footer {
  font-size: medium; }
