body {
  background-color: rgb(185, 223, 174);
}

.person {
  background: rgba(255,255,255, 0.7);
  box-shadow: 0 0 10px #999;
  padding: 30px;
  width: 600px;
  margin: 30px auto;

  p {
    font-size: 20px;
    display: block;
  }
}

form {
  margin-top: 100px;
}



.msg1 {
  width: 600px;
  margin: 30px auto;
  font-size: 30px;
  padding: 30px;
}

  input {
    margin: .3%;
}
